openapi: 3.0.0
info:
  contact:
    email: support@xflowpay.com
    name: Xflow Support
    url: https://xflowpay.com
  description: The Xflow REST API. Please see https://docs.xflowpay.com/2024-02-05/api for more details.
  termsOfService: https://docs.xflowpay.com/platform-agreement
  title: Xflow Accounts API
  version: '2024-02-05'
servers:
- url: https://api.xflowpay.com/
security:
- bearerAuth: []
tags:
- name: Accounts
paths:
  /v1/accounts:
    get:
      description: Returns a list of accounts.
      operationId: ListAccounts
      parameters:
      - description: This header specifies the connected user's account on behalf of which the request is being made.
        in: header
        name: Xflow-Account
        required: false
        schema:
          type: string
      - description: This parameter represents the state of the `xflow_receive` addresses associated with this account. The valid values include `deactivated`, `requested`, `processing` and `activated`.
        in: query
        name: address
        required: false
        schema:
          items:
            enum:
            - deactivated
            - requested
            - processing
            - activated
            type: string
          type: array
      - description: Return results where the `created` field is equal to the timestamp value in seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time).
        in: query
        name: created.eq
        required: false
        schema:
          format: unix-time
          type: integer
      - description: Return results where the `created` field is greater than the timestamp value in seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time).
        in: query
        name: created.gt
        required: false
        schema:
          format: unix-time
          type: integer
      - description: Return results where the `created` field is greater than or equal to the timestamp value in seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time).
        in: query
        name: created.gte
        required: false
        schema:
          format: unix-time
          type: integer
      - description: Return results where the `created` field is lesser than the timestamp value in seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time).
        in: query
        name: created.lt
        required: false
        schema:
          format: unix-time
          type: integer
      - description: Return results where the `created` field is lesser than or equal to the timestamp value in seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time).
        in: query
        name: created.lte
        required: false
        schema:
          format: unix-time
          type: integer
      - description: A cursor for use in pagination. `ending_before` is an object identifier that defines your place in the list. For instance, if you make a list request and receive 5 objects, starting with `obj_bar`, your subsequent call can include `ending_before=obj_bar` in order to fetch the previous page of the list.
        in: query
        name: ending_before
        required: false
        schema:
          type: string
      - description: A limit on the number of objects to be returned, between 1 and 10. If this parameter is not specified, a default value of 10 is assumed.
        in: query
        name: limit
        required: false
        schema:
          type: integer
      - description: A cursor for use in pagination. `starting_after` is an object identifier that defines your place in the list. For instance, if you make a list request and receive 5 objects, ending with `obj_bar`, your subsequent call can include `starting_after=obj_bar` in order to fetch the next page of the list.
        in: query
        name: starting_after
        required: false
        schema:
          type: string
      - description: Valid status types associated with an Xflow account.
        in: query
        name: status
        required: false
        schema:
          items:
            enum:
            - draft
            - verifying
            - activated
            - deactivated
            - hold
            type: string
          type: array
      - description: Account types. These can be `partner`, `platform` or `user`.
        in: query
        name: type
        required: false
        schema:
          enum:
          - partner
          - platform
          - user
          type: string
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: '#/components/schemas/account'
                    type: array
                  has_next:
                    description: True if this list has another page of items after this one that can be fetched.
                    type: boolean
                  object:
                    description: String representing the object's type. Objects of the same type share the same value. Always has the value `list`.
                    enum:
                    - list
                    type: string
                title: ListAccountsResponse
                type: object
          description: Successful response.
        default:
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_object'
          description: Error response.
      tags:
      - Accounts
    post:
      description: Create an account.
      operationId: CreateAccount
      parameters:
      - description: This header specifies the connected user's account on behalf of which the request is being made.
        in: header
        name: Xflow-Account
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                business_details:
                  description: Details about the business and activities that the account engages in.
                  properties:
                    date_of_incorporation:
                      description: The date (YYYY-MM-DD) on which the business was incorporated.
                      type: string
                    dba:
                      description: Doing Business As, this is a 16 character customer-facing business name. Special characters like <, >, ', or " are not allowed.
                      type: string
                    email:
                      description: Email address.
                      format: email
                      type: string
                    ids:
                      description: Details about identification documents.
                      properties:
                        business:
                          description: Unique identification number.
                          type: string
                        tax:
                          description: Tax Identification Number (e.g. Business PAN for Indian merchants).
                          type: string
                        tax_deduction:
                          description: Tax deduction Account Number (e.g. TAN for Indian merchants).
                          type: string
                        tax_gst:
                          description: Goods & Services Tax (GST) ID.
                          type: string
                        tax_trade:
                          description: Trade Identification Number (e.g. IEC for Indian merchants).
                          type: string
                      title: CreateAccountRequestBusinessDetailsIds
                      type: object
                    legal_name:
                      description: Unique name as per official documents.
                      type: string
                    merchant_category_code:
                      description: Popularly known as MCC, is a four-digit code used to classify businesses by the type of goods or services they provide.
                      type: string
                    merchant_size:
                      description: Merchant classification based on the annual turnover. The valid values include `small`, `medium` or `large`
                      enum:
                      - small
                      - medium
                      - large
                      type: string
                    physical_address:
                      description: Details about the physical address.
                      properties:
                        city:
                          description: City details in the official address.
                          type: string
                        country:
                          description: Country details in the [ISO 3166-1 alpha 2 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) in uppercase.
                          enum:
                          - AD
                          - AE
                          - AG
                          - AI
                          - AL
                          - AM
                          - AO
                          - AR
                          - AT
                          - AU
                          - AW
                          - AZ
                          - BA
                          - BB
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BM
                          - BN
                          - BO
                          - BR
                          - BS
                          - BW
                          - BZ
                          - CA
                          - CG
                          - CH
                          - CI
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CV
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - ER
                          - ES
                          - FI
                          - FJ
                          - FK
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GH
                          - GI
                          - GL
                          - GM
                          - GP
                          - GQ
                          - GR
                          - GT
                          - GU
                          - GW
                          - HK
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IN
                          - IL
                          - IS
                          - IT
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LI
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - MA
                          - MC
                          - MD
                          - ME
                          - MG
                          - MN
                          - MO
                          - MR
                          - MT
                          - MU
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NE
                          - NG
                          - NL
                          - 'NO'
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PL
                          - PR
                          - PS
                          - PT
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - SA
                          - SE
                          - SG
                          - SI
                          - SK
                          - SL
                          - SM
                          - SN
                          - SZ
                          - TD
                          - TG
                          - TH
                          - TJ
                          - TL
                          - TM
                          - TN
                          - TR
                          - TT
                          - TW
                          - TZ
                          - UG
                          - US
                          - UY
                          - VN
                          - VU
                          - ZA
                          type: string
                        line1:
                          description: Line 1 in the official address.
                          type: string
                        line2:
                          description: Line 2 in the official address.
                          type: string
                        postal_code:
                          description: Postal code in the official address.
                          type: string
                        state:
                          description: State details in the official address.
                          type: string
                      required:
                      - country
                      title: CreateAccountRequestBusinessDetailsPhysicalAddress
                      type: object
                    product_category:
                      description: Merchant classification based on the service. The valid values include `goods`, `services` and `software`
                      enum:
                      - goods
                      - services
                      - software
                      type: string
                    product_description:
                      description: Description of the account’s business activities.
                      type: string
                    type:
                      description: Valid values include `company`, `limited_liability_partnership`, `partnership`, `sole_proprietor`, `individual`, `business` and `other`.
                      enum:
                      - company
                      - limited_liability_partnership
                      - partnership
                      - sole_proprietor
                      - individual
                      - business
                      - other
                      type: string
                    website:
                      description: The website for the business. Set to `website_not_available` if unavailable.
                      type: string
                  required:
                  - email
                  - legal_name
                  - physical_address
                  - type
                  title: CreateAccountRequestBusinessDetails
                  type: object
                logo_id:
                  description: A [file object identifier](https://docs.xflowpay.com/2024-02-05/api#file_object_id) which contains a logo for the user to customize communications with their customers.
                  type: string
                metadata:
                  additionalProperties:
                    type: string
                  description: Set of [key-value pairs](https://docs.xflowpay.com/2024-02-05/api#metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
                  title: CreateAccountRequestMetadata
                  type: object
                nickname:
                  description: Name for the account.
                  type: string
                supporting_documentation:
                  description: Details of the supporting documentation for the account.
                  properties:
                    id_document:
                      description: A [file object identifier](https://docs.xflowpay.com/2024-02-05/api#file_object_id) which references a document that proves the authenticity of the account.
                      type: string
                  title: CreateAccountRequestSupportingDocumentation
                  type: object
                tos_acceptance:
                  description: Details of account accepting terms of service (tos).
                  properties:
                    ip:
                      description: IP address of the account from which the terms of service were accepted.
                      type: string
                    time:
                      description: The seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time) at which the terms of service was accepted.
                      format: unix-time
                      type: integer
                    user_agent:
                      description: The user agent of the browser from which the account representative accepted their service agreement
                      type: string
                  title: CreateAccountRequestTosAcceptance
                  type: object
                type:
                  description: Account types. These can be `partner`, `platform` or `user`.
                  enum:
                  - partner
                  - platform
                  - user
                  type: string
              required:
              - business_details
              - type
              title: CreateAccountRequest
              type: object
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Successful response.
        default:
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_object'
          description: Error response.
      tags:
      - Accounts
  /v1/accounts/{account}:
    get:
      description: Retrieves the details of an account.
      operationId: RetrieveAccount
      parameters:
      - description: This header specifies the connected user's account on behalf of which the request is being made.
        in: header
        name: Xflow-Account
        required: false
        schema:
          type: string
      - in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Successful response.
        default:
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_object'
          description: Error response.
      tags:
      - Accounts
    post:
      description: Update the details of an account.
      operationId: UpdateAccount
      parameters:
      - description: This header specifies the connected user's account on behalf of which the request is being made.
        in: header
        name: Xflow-Account
        required: false
        schema:
          type: string
      - in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              properties:
                business_details:
                  description: Details about the business and activities that the account engages in.
                  properties:
                    date_of_incorporation:
                      description: The date (YYYY-MM-DD) on which the business was incorporated.
                      type: string
                    dba:
                      description: Doing Business As, this is a 16 character customer-facing business name. Special characters like <, >, ', or " are not allowed.
                      type: string
                    email:
                      description: Email address.
                      format: email
                      type: string
                    ids:
                      description: Details about identification documents.
                      properties:
                        business:
                          description: Unique identification number.
                          type: string
                        tax:
                          description: Tax Identification Number (e.g. Business PAN for Indian merchants).
                          type: string
                        tax_deduction:
                          description: Tax deduction Account Number (e.g. TAN for Indian merchants).
                          type: string
                        tax_gst:
                          description: Goods & Services Tax (GST) ID.
                          type: string
                        tax_trade:
                          description: Trade Identification Number (e.g. IEC for Indian merchants).
                          type: string
                      title: UpdateAccountRequestBusinessDetailsIds
                      type: object
                    legal_name:
                      description: Unique name as per official documents.
                      type: string
                    merchant_category_code:
                      description: Popularly known as MCC, is a four-digit code used to classify businesses by the type of goods or services they provide.
                      type: string
                    merchant_size:
                      description: Merchant classification based on the annual turnover. The valid values include `small`, `medium` or `large`
                      enum:
                      - small
                      - medium
                      - large
                      type: string
                    physical_address:
                      description: Details about the physical address.
                      properties:
                        city:
                          description: City details in the official address.
                          type: string
                        country:
                          description: Country details in the [ISO 3166-1 alpha 2 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) in uppercase.
                          enum:
                          - AD
                          - AE
                          - AG
                          - AI
                          - AL
                          - AM
                          - AO
                          - AR
                          - AT
                          - AU
                          - AW
                          - AZ
                          - BA
                          - BB
                          - BE
                          - BF
                          - BG
                          - BH
                          - BI
                          - BJ
                          - BM
                          - BN
                          - BO
                          - BR
                          - BS
                          - BW
                          - BZ
                          - CA
                          - CG
                          - CH
                          - CI
                          - CL
                          - CM
                          - CN
                          - CO
                          - CR
                          - CV
                          - CY
                          - CZ
                          - DE
                          - DJ
                          - DK
                          - DM
                          - DO
                          - DZ
                          - EC
                          - EE
                          - EG
                          - ER
                          - ES
                          - FI
                          - FJ
                          - FK
                          - FO
                          - FR
                          - GA
                          - GB
                          - GD
                          - GE
                          - GF
                          - GH
                          - GI
                          - GL
                          - GM
                          - GP
                          - GQ
                          - GR
                          - GT
                          - GU
                          - GW
                          - HK
                          - HN
                          - HR
                          - HT
                          - HU
                          - ID
                          - IE
                          - IN
                          - IL
                          - IS
                          - IT
                          - JO
                          - JP
                          - KE
                          - KG
                          - KH
                          - KI
                          - KR
                          - KW
                          - KY
                          - KZ
                          - LA
                          - LI
                          - LR
                          - LS
                          - LT
                          - LU
                          - LV
                          - MA
                          - MC
                          - MD
                          - ME
                          - MG
                          - MN
                          - MO
                          - MR
                          - MT
                          - MU
                          - MW
                          - MX
                          - MY
                          - MZ
                          - NA
                          - NE
                          - NG
                          - NL
                          - 'NO'
                          - NZ
                          - OM
                          - PA
                          - PE
                          - PF
                          - PG
                          - PH
                          - PL
                          - PR
                          - PS
                          - PT
                          - PY
                          - QA
                          - RE
                          - RO
                          - RS
                          - SA
                          - SE
                          - SG
                          - SI
                          - SK
                          - SL
                          - SM
                          - SN
                          - SZ
                          - TD
                          - TG
                          - TH
                          - TJ
                          - TL
                          - TM
                          - TN
                          - TR
                          - TT
                          - TW
                          - TZ
                          - UG
                          - US
                          - UY
                          - VN
                          - VU
                          - ZA
                          type: string
                        line1:
                          description: Line 1 in the official address.
                          type: string
                        line2:
                          description: Line 2 in the official address.
                          type: string
                        postal_code:
                          description: Postal code in the official address.
                          type: string
                        state:
                          description: State details in the official address.
                          type: string
                      title: UpdateAccountRequestBusinessDetailsPhysicalAddress
                      type: object
                    product_category:
                      description: Merchant classification based on the service. The valid values include `goods`, `services` and `software`
                      enum:
                      - goods
                      - services
                      - software
                      type: string
                    product_description:
                      description: Description of the account’s business activities.
                      type: string
                    type:
                      description: Valid values include `company`, `limited_liability_partnership`, `partnership`, `sole_proprietor`, `individual`, `business` and `other`.
                      enum:
                      - company
                      - limited_liability_partnership
                      - partnership
                      - sole_proprietor
                      - individual
                      - business
                      - other
                      type: string
                    website:
                      description: The website for the business. Set to `website_not_available` if unavailable.
                      type: string
                  title: UpdateAccountRequestBusinessDetails
                  type: object
                logo_id:
                  description: A [file object identifier](https://docs.xflowpay.com/2024-02-05/api#file_object_id) which contains a logo for the user to customize communications with their customers.
                  type: string
                metadata:
                  additionalProperties:
                    type: string
                  description: Set of [key-value pairs](https://docs.xflowpay.com/2024-02-05/api#metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
                  title: UpdateAccountRequestMetadata
                  type: object
                nickname:
                  description: Name for the account.
                  type: string
                supporting_documentation:
                  description: Details of the supporting documentation for the account.
                  properties:
                    id_document:
                      description: A [file object identifier](https://docs.xflowpay.com/2024-02-05/api#file_object_id) which references a document that proves the authenticity of the account.
                      type: string
                  title: UpdateAccountRequestSupportingDocumentation
                  type: object
                tos_acceptance:
                  description: Details of account accepting terms of service (tos).
                  properties:
                    ip:
                      description: IP address of the account from which the terms of service were accepted.
                      type: string
                    time:
                      description: The seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time) at which the terms of service was accepted.
                      format: unix-time
                      type: integer
                    user_agent:
                      description: The user agent of the browser from which the account representative accepted their service agreement
                      type: string
                  title: UpdateAccountRequestTosAcceptance
                  type: object
              title: UpdateAccountRequest
              type: object
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Successful response.
        default:
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_object'
          description: Error response.
      tags:
      - Accounts
  /v1/accounts/{account}/activate:
    post:
      description: Activates an account.
      operationId: ActivateAccount
      parameters:
      - description: This header specifies the connected user's account on behalf of which the request is being made.
        in: header
        name: Xflow-Account
        required: false
        schema:
          type: string
      - in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Successful response.
        default:
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_object'
          description: Error response.
      tags:
      - Accounts
  /v1/accounts/{account}/deactivate:
    post:
      description: Deactivates an account.
      operationId: DeactivateAccount
      parameters:
      - description: This header specifies the connected user's account on behalf of which the request is being made.
        in: header
        name: Xflow-Account
        required: false
        schema:
          type: string
      - in: path
        name: account
        required: true
        schema:
          type: string
        style: simple
      responses:
        '200':
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/account'
          description: Successful response.
        default:
          headers:
            Date:
              schema:
                type: string
            Content-Length:
              schema:
                type: integer
            Connection:
              schema:
                type: string
            x-amzn-RequestId:
              schema:
                type: string
            xflow-request-id:
              schema:
                type: string
            x-amz-apigw-id:
              schema:
                type: string
            X-Amzn-Trace-Id:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error_object'
          description: Error response.
      tags:
      - Accounts
components:
  schemas:
    account:
      description: Account objects are fundamental to Xflow and model entities like direct users, connected users, partners and platforms. Depending on whether you are setup as a direct user or platform, you can create new accounts, retrieve existing accounts to see it’s properties or take action on accounts to accept funds on their behalf.
      properties:
        address:
          description: This parameter represents the state of the `xflow_receive` addresses associated with this account. The valid values include `deactivated`, `requested`, `processing` and `activated`.
          enum:
          - deactivated
          - requested
          - processing
          - activated
          type: string
        business_details:
          description: Details about the business and activities that the account engages in.
          properties:
            date_of_incorporation:
              description: The date (YYYY-MM-DD) on which the business was incorporated.
              nullable: true
              type: string
            dba:
              description: Doing Business As, this is a 16 character customer-facing business name. Special characters like <, >, ', or " are not allowed.
              nullable: true
              type: string
            email:
              description: Email address.
              format: email
              type: string
            ids:
              description: Details about identification documents.
              nullable: true
              properties:
                business:
                  description: Unique identification number.
                  nullable: true
                  type: string
                tax:
                  description: Tax Identification Number (e.g. Business PAN for Indian merchants).
                  nullable: true
                  type: string
                tax_deduction:
                  description: Tax deduction Account Number (e.g. TAN for Indian merchants).
                  nullable: true
                  type: string
                tax_gst:
                  description: Goods & Services Tax (GST) ID.
                  nullable: true
                  type: string
                tax_trade:
                  description: Trade Identification Number (e.g. IEC for Indian merchants).
                  nullable: true
                  type: string
              title: AccountBusinessDetailsIds
              type: object
            legal_name:
              description: Unique name as per official documents.
              type: string
            merchant_category_code:
              description: Popularly known as MCC, is a four-digit code used to classify businesses by the type of goods or services they provide.
              nullable: true
              type: string
            merchant_size:
              description: Merchant classification based on the annual turnover.
              enum:
              - small
              - medium
              - large
              nullable: true
              type: string
            physical_address:
              description: Details about the physical address.
              properties:
                city:
                  description: City details in the official address.
                  nullable: true
                  type: string
                country:
                  description: Country details in the [ISO 3166-1 alpha 2 code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) in uppercase.
                  enum:
                  - AD
                  - AE
                  - AG
                  - AI
                  - AL
                  - AM
                  - AO
                  - AR
                  - AT
                  - AU
                  - AW
                  - AZ
                  - BA
                  - BB
                  - BE
                  - BF
                  - BG
                  - BH
                  - BI
                  - BJ
                  - BM
                  - BN
                  - BO
                  - BR
                  - BS
                  - BW
                  - BZ
                  - CA
                  - CG
                  - CH
                  - CI
                  - CL
                  - CM
                  - CN
                  - CO
                  - CR
                  - CV
                  - CY
                  - CZ
                  - DE
                  - DJ
                  - DK
                  - DM
                  - DO
                  - DZ
                  - EC
                  - EE
                  - EG
                  - ER
                  - ES
                  - FI
                  - FJ
                  - FK
                  - FO
                  - FR
                  - GA
                  - GB
                  - GD
                  - GE
                  - GF
                  - GH
                  - GI
                  - GL
                  - GM
                  - GP
                  - GQ
                  - GR
                  - GT
                  - GU
                  - GW
                  - HK
                  - HN
                  - HR
                  - HT
                  - HU
                  - ID
                  - IE
                  - IN
                  - IL
                  - IS
                  - IT
                  - JO
                  - JP
                  - KE
                  - KG
                  - KH
                  - KI
                  - KR
                  - KW
                  - KY
                  - KZ
                  - LA
                  - LI
                  - LR
                  - LS
                  - LT
                  - LU
                  - LV
                  - MA
                  - MC
                  - MD
                  - ME
                  - MG
                  - MN
                  - MO
                  - MR
                  - MT
                  - MU
                  - MW
                  - MX
                  - MY
                  - MZ
                  - NA
                  - NE
                  - NG
                  - NL
                  - 'NO'
                  - NZ
                  - OM
                  - PA
                  - PE
                  - PF
                  - PG
                  - PH
                  - PL
                  - PR
                  - PS
                  - PT
                  - PY
                  - QA
                  - RE
                  - RO
                  - RS
                  - SA
                  - SE
                  - SG
                  - SI
                  - SK
                  - SL
                  - SM
                  - SN
                  - SZ
                  - TD
                  - TG
                  - TH
                  - TJ
                  - TL
                  - TM
                  - TN
                  - TR
                  - TT
                  - TW
                  - TZ
                  - UG
                  - US
                  - UY
                  - VN
                  - VU
                  - ZA
                  type: string
                line1:
                  description: Line 1 in the official address.
                  nullable: true
                  type: string
                line2:
                  description: Line 2 in the official address.
                  nullable: true
                  type: string
                postal_code:
                  description: Postal code in the official address.
                  nullable: true
                  type: string
                state:
                  description: State details in the official address.
                  nullable: true
                  type: string
              title: AccountBusinessDetailsPhysicalAddress
              type: object
            product_category:
              description: Merchant classification based on the service.
              enum:
              - goods
              - service
              - software
              nullable: true
              type: string
            product_description:
              description: Description of the account’s business activities.
              nullable: true
              type: string
            type:
              description: Valid values include `company`, `limited_liability_partnership`, `partnership`, `sole_proprietor`, `individual`, `business` and `other`.
              enum:
              - company
              - limited_liability_partnership
              - partnership
              - sole_proprietor
              - individual
              - business
              - other
              type: string
            website:
              description: The website for the business. Set to `website_not_available` if unavailable.
              nullable: true
              type: string
          title: AccountBusinessDetails
          type: object
        created:
          description: The seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time) at which the account was created.
          format: unix-time
          type: integer
        id:
          description: Unique identifier for the object.
          type: string
        link:
          description: Not applicable
          nullable: true
          type: string
        livemode:
          description: Has the value `true` if the object exists in livemode, the value `false` if the object exists in testmode or `null` in the case of a direct user or a platform (a direct user is an Xflow account of `type=user` which is not connected to an account of `type=platform`).
          nullable: true
          type: boolean
        logo_id:
          description: A [file object identifier](https://docs.xflowpay.com/2024-02-05/api#file_object_id) which contains a logo for the user to customize communications with their customers.
          nullable: true
          type: string
        metadata:
          additionalProperties:
            type: string
          description: Set of [key-value pairs](https://docs.xflowpay.com/2024-02-05/api#metadata) that you can attach to an object. This can be useful for storing additional information about the object in a structured format.
          title: AccountMetadata
          nullable: true
          type: object
        nickname:
          description: Name for the account.
          nullable: true
          type: string
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - account
          type: string
        parent_account_id:
          description: Unique identifier for the parent account object which created this particular account.
          nullable: true
          type: string
        sub_type:
          description: A type of platform account that facilitates payments for users and is in the funds flow.
          enum:
          - aggregator
          - referrer
          nullable: true
          type: string
        supporting_documentation:
          description: Details of the supporting documentation for the account.
          properties:
            id_document:
              description: A [file object identifier](https://docs.xflowpay.com/2024-02-05/api#file_object_id) which references a document that proves the authenticity of the account.
              type: string
          title: AccountSupportingDocumentation
          nullable: true
          type: object
        status:
          description: Valid status types associated with an Xflow account.
          enum:
          - draft
          - verifying
          - activated
          - deactivated
          - hold
          type: string
        tos_acceptance:
          description: Details of account accepting terms of service (tos).
          properties:
            ip:
              description: IP address of the account from which the terms of service were accepted.
              nullable: true
              type: string
            time:
              description: The seconds elapsed since [Unix epoch time](https://en.wikipedia.org/wiki/Unix_time) at which the terms of service was accepted.
              format: unix-time
              nullable: true
              type: integer
            user_agent:
              description: The user agent of the browser from which the account representative accepted their service agreement
              nullable: true
              type: string
          title: AccountTosAcceptance
          nullable: true
          type: object
        type:
          description: Account types. These can be `partner`, `platform` or `user`.
          enum:
          - partner
          - platform
          - user
          type: string
      title: Account
      type: object
    error_object:
      description: 'Xflow uses conventional HTTP response codes to indicate the success or failure of an API request. In general: Codes in the `2xx` range indicate success. Codes in the `4xx` range indicate an error that failed given the information provided (e.g., a required parameter was omitted, a payment failed, etc.). Codes in the `5xx` range indicate an error with Xflow’s servers (these are rare).'
      properties:
        errors:
          description: An array of errors. Each element is a specific error.
          maxItems: 1
          minItems: 1
          items:
            properties:
              code:
                description: Enum value specific to the error. All Xflow error codes are defined [here](https://docs.xflowpay.com/latest/errors).
                enum:
                - account_activation_failed_missing_payout_address
                - account_activation_failed_missing_person
                - account_activation_failed_incorrect_number_of_persons
                - account_activation_failed_incorrect_relationship_for_person
                - account_email_invalid
                - account_id_invalid
                - account_not_unique_nickname
                - account_parameter_not_editable
                - account_partner_activate_disallowed
                - account_partner_deactivate_disallowed
                - account_platform_activate_disallowed
                - account_platform_create_disallowed
                - account_setting_parameter_not_editable
                - account_status_invalid
                - account_type_invalid
                - account_update_access_unauthorized
                - account_user_activate_disallowed
                - account_user_create_disallowed
                - action_invalid
                - action_not_enabled
                - action_unauthorized
                - address_cannot_be_deactivated
                - address_category_mismatch
                - address_category_not_allowed
                - address_domestic_credit_invalid
                - address_global_wire_invalid
                - address_global_wire_not_supported
                - address_parameter_not_editable
                - address_type_not_allowed
                - balance_insufficient
                - cancelled_request
                - country_code_invalid
                - country_code_not_supported
                - currency_amount_mismatch
                - currency_not_supported
                - date_invalid_format
                - deposit_account_address_mismatch
                - deposit_account_id_mismatch
                - deposit_parameter_not_editable
                - duplicate_currencies_not_supported
                - duplicate_values_found
                - event_type_invalid
                - fee_plan_parameter_not_editable
                - file_name_invalid
                - file_name_length_invalid
                - file_parameter_not_editable
                - file_purpose_mismatch
                - file_size_limit_exceeded
                - file_request_body_invalid
                - file_type_unsupported
                - header_parameter_invalid
                - header_parameter_missing
                - http_parameter_invalid
                - invalid_amount
                - invoice_date_invalid
                - invoice_due_date_invalid
                - metadata_count_exceeded
                - metadata_key_max_length_invalid
                - metadata_key_min_length_invalid
                - metadata_value_max_length_invalid
                - metadata_value_min_length_invalid
                - multiple_xflow_receive_same_category_not_allowed
                - minimum_required_values_not_present
                - object_not_found
                - parameter_address_invalid
                - parameter_character_invalid
                - parameter_empty
                - parameter_file_invalid
                - parameter_max_length_invalid
                - parameter_min_length_invalid
                - parameter_range_invalid
                - parameter_receivable_invalid
                - parameter_unexpected
                - parameter_value_invalid
                - payment_link_account_receivable_mismatch
                - payment_link_activate_disallowed
                - payment_link_deactivate_invalid
                - payment_link_expire_invalid
                - payment_link_extend_disallowed
                - payment_link_extend_invalid
                - payment_link_non_us_account_non_usd_currency
                - payment_link_parameter_not_editable
                - payment_link_receivable_count_exceed
                - payment_link_receivable_status_invalid
                - payout_parameter_not_editable
                - person_delete_not_allowed
                - person_parameter_not_editable
                - person_relationship_not_set
                - person_update_not_allowed
                - purpose_code_not_supported
                - receivable_additional_info_required
                - receivable_amount_invoice_amount_mismatch
                - receivable_amount_maximum_reconcilable_incorrect
                - receivable_cancel_disallowed
                - receivable_confirm_action_disallowed
                - receivable_creation_date_invoice_creation_date_mismatch
                - receivable_currency_invoice_currency_mismatch
                - receivable_due_date_invoice_due_date_mismatch
                - receivable_hold
                - receivable_invoice_document_incorrect
                - receivable_invoice_reference_number_exists
                - receivable_invoice_transaction_type_incorrect
                - receivable_parameter_not_editable
                - receivable_partner_country_invoice_partner_country_mismatch
                - receivable_partner_invoice_partner_mismatch
                - receivable_reconcile_action_disallowed
                - receivable_reconcile_amount_exceed
                - receivable_reference_number_invoice_reference_number_mismatch
                - receivable_unable_to_process
                - receivable_update_access_unauthorized
                - request_body_invalid
                - request_query_parameter_invalid
                - resource_locked
                - secret_key_invalid
                - secret_key_missing
                - testmode_action_only
                - timestamp_invalid
                - transfer_failed
                - transfer_parameter_not_editable
                - transfer_type_invalid
                - url_invalid
                - webhook_endpoint_limit_exceeded
                - webhook_endpoint_parameter_not_editable
                - website_invalid
                type: string
              message:
                description: Description of the error with guidance on how to recover.
                type: string
              metadata:
                additionalProperties:
                  type: string
                description: Additional information associated with the error in the form of key-value pairs.
                nullable: true
                title: ErrorMetadata
                type: object
            title: ErrorObjectSingle
            type: object
          type: array
        http_status_code:
          description: HTTP status code.
          type: integer
        object:
          description: String representing the object's type. Objects of the same type share the same value.
          enum:
          - error
          type: string
      title: ErrorObject
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: auth-scheme
      description: 'Bearer HTTP authentication. Allowed headers-- Authorization: Bearer <api_key>'
      scheme: bearer
      type: http
